<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <!-- 1° Barra de porcentaje active -->
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <!-- Asigno width de barra porcentaje mediante get []= recibe valores -->
                    <div class="progress-bar bg-primary progress-bar-striped active" style=" height:5px;"
                        role="progressbar">
                        <!-- [style.width]="getPorcentaje" -->

                    </div>
                </div>

                <!-- 2° Barra de porcentaje active -->
                <div class="progress m-t-20">
                    <!-- Asigno width de barra porcentaje mediante get []= recibe valores -->
                    <div class="progress-bar bg-info progress-bar-striped active" style=" height:5px;"
                        role="progressbar">
                        <!-- [style.width]="getPorcentaje" -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <!-- componente repetido pero independiente, que se utilizara en otros lugares o componentes -->
                <app-incrementador></app-incrementador>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">

                <!-- componente repetido pero independiente, que se utilizara en otros lugares o componentes -->
                <app-incrementador></app-incrementador>

            </div>
        </div>
    </div>
</div>