<!-- Barra [+ -] -->
<div class="d-inline-flex">
    <span class="input-group-btn">
        <!-- Funcion click ()= emite valores-->
        <button class="btn btn-primary" type="button" (click)="cambiarValor(-5)">
            <i class="fa fa-minus"> 5</i>
        </button>
    </span>

    <!-- [()]= emite y recibe valores. El enlace creado con ngModel permite que desde la vista pueda usar un dato. Asignándole el valor que tenemos declarado en el componente. En este caso tendremos que importar "FormsModule" en el módulo pages.module.ts-->
    <input type="number" class="form-control" placeholder="Progreso" min="0" max="100" [(ngModel)]="progreso">

    <span class="input-group-btn">
        <!-- Funcion click ()= emite valores-->
        <button class="btn btn-primary" type="button" (click)="cambiarValor(+5)">
            <i class=" fa fa-plus"> 5</i>
        </button>
    </span>
</div>