<!-- DESDE pages-blank.html (03-original/main/pages-blank.html) -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="user-profile">
                    <!-- IMAGEN DEL USUARIO or src="./assets/images/users/1.jpg"-->
                    <!-- NOMBRE DE USUARIO -->
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <img [src]="usuario.imagenUrl" alt="user" />
                        <span class="hide-menu">{{usuario.nombre}}</span>
                    </a>
                    <ul aria-expanded="false" class="collapse">
                        <!-- navegacion con routerLink /dashboard/perfil or ./perfil -->
                        <!-- routerLinkActive="active" xa que coloque la clase activa cuando estoy en esa ruta -->
                        <li><a routerLinkActive="active" routerLink="./perfil">Mi Perfil </a></li>
                        <li><a href="javascript:void()">My Balance</a></li>
                        <li><a href="javascript:void()">Inbox</a></li>
                        <!-- navegacion con routerLink -->
                        <li><a routerLink="/dashboard/account-settings">Ajustes de fondo</a></li>
                        <!-- navegacion con routerLink -->
                        <li><a routerLink="/login">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-devider"></li>
                <li class="nav-small-cap">PERSONAL</li>

                <!-- *ngFor desde sidebar.ts y sidebar.service-->
                <li *ngFor="let item of menuItems">
                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false">
                        <!-- icono dinamico segun sidebar.service.ts-->
                        <!-- <i class="{{item.icono}}"></i> -->
                        <i [class]="item.icono"></i>
                        <span class="hide-menu">{{item.titulo}}
                            <span class="label label-rouded label-themecolor pull-right">{{item.submenu.length}}</span>
                        </span>
                    </a>

                    <ul aria-expanded="false" class="collapse">
                        <!-- *ngFor of item.submenu-->
                        <!-- routerLinkActive="active" al seleccionar un link de mi sidebar se muestra como activo en blanco (viene del bootstrap) -->
                        <!-- [routerLinkActiveOptions]="{exact: true}" para que no se vea main siempre activo (ya que el comienzo /dashboard siempre coincide) -->
                        <li *ngFor="let subMenuItem of item.submenu">
                            <a [routerLink]="subMenuItem.url" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}">{{subMenuItem.titulo}} </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<!-- End Left Sidebar - style you can find in sidebar.scss  -->